{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if not add %}{% trans "No longer" %} {% endif %}{{ status.verb|capfirst }} {{ to_user.get_full_name }}?{% endblock %}

{% block content %}
  <p>{% if not add %}{% trans "No longer" %} {% endif %}{{ status.verb|capfirst }} {{ to_user.get_full_name }}?</p>
  <form method="post" action="">{% csrf_token %}
    {{ form.as_table }}
    <tr>
      <th></th>
      <td><input type="submit" value="{% trans "Confirm" %}" /></td>
    </tr>
  </form>
{% endblock %}
