{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Success" %}</h1>
  <p>{% trans "You are " %}{% if add %}{% trans "now" %}{% else %}{% trans "no longer" %}{% endif %} {{ status.from_slug }} {{ to_user.get_full_name }}</p>
  <p><a href="{{ to_user.get_absolute_url }}">{% blocktrans with to_user.get_full_name as to_user_username %}{{ to_user_username }}'s profile{% endblocktrans %}</a></p>
{% endblock %}
