{% extends 'base.html'%}

{% block title %}Account{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <a href="{% url 'user' user.id %}">{{ user.get_full_name }}</a>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% include "account/sidebar.html" %} 
    </div><!--/span-->
</div><!--/row-->
</div>
{% endblock %}
