<div class="list-group">
    <a href="{% url "account" %}" class="list-group-item">Account</a>
    <a href="{% url "relationship_list" user.id "following" %}" class="list-group-item">Followers</a>
    <a href="{% url "relationship_list" user.id "followers"%}" class="list-group-item">Following</a>
</div>
