{% extends 'base.html' %}
{% load relationship_tags %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ user.get_full_name }}!</h2>

        {% if user != loggedin_user %}

        {# decide whether or not the current user is following this user #}

        {% if_relationship user loggedin_user "following" %}

        {# they are following them, so show a "remove" url #}
        <a href="{{ user|remove_relationship_url:"following" }}">Unfollow</a>

        {% else %}

        {# they are not following them, so show a link to start following #}
        <a href="{{ user|add_relationship_url:"following" }}">Follow</a>

        {% endif_relationship %}

        {% else %}
        <p>This is you!</p>
        {% endif %}
        {% with relationships=user.relationships %}
        <h2>Followers</h2>
        {% for app_user in relationships.followers %}
        <li><a href="{% url 'user' app_user.id %}">{{ app_user.get_full_name }}</a></li>
        {% endfor %}

        <h2>Following</h2>
        {% for app_user in relationships.following %}
        <li><a href="{% url 'user' app_user.id %}">{{ app_user.get_full_name }}</a></li>
        {% endfor %}
        {% endwith %}
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% include "account/sidebar.html" %} 
    </div><!--/span-->
</div><!--/row-->


{% endblock %}
