{% extends "registration/registration_base.html" %}

{% block head %}
<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

{% endblock %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}

<form class="form-signin" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
    <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "login" %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
